* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Hind", sans-serif;
  color: #212529;
  line-height: 1.5;
  background-color: #fff;
}
/* HEADER */
header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
header .navbar-brand {
  font-size: 36px;
  color: #fff;
}
header .navbar-brand i {
  font-size: 45px;
  color: #35a22c;
}
#navheader .nav-item {
  margin: 0 10px;
}
#navheader .nav-item .nav-link {
  color: #fff;
  transition: all 0.5s;
}
#navheader .nav-item:hover .nav-link {
  color: #35a22c;
}
#navheader .nav-item::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #35a22c;
  display: block;
  transition: all 0.5s;
}
#navheader .nav-item:hover::after {
  width: 100%;
}
#navheader .nav-item.active .nav-link {
  color: #35a22c;
}
#navheader .nav-item.active::after {
  width: 100%;
}
/* CAROUSEL */
.overlay {
  background: rgba(39, 43, 54, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.myCarousel {
  position: relative;
}

.myCarousel .carousel-item {
  height: 100vh;
}
.myCarousel .carousel-item .carousel-caption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.myCarousel .carousel-item .carousel-caption h5 {
  font-size: 56px;
  line-height: 65px;
}
.myCarousel .carousel-item .carousel-caption p {
  font-size: 24px;
}
.carousel-item .img {
  width: 140px;
  padding: 8px;
  border-radius: 50%;
  margin: auto;
}
.carousel-item .img img {
  width: 140px;
  border-radius: 50%;
  margin: auto;
}
.myCarousel .carousel-indicators li {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: none;
}
.myCarousel .carousel-indicators li.active {
  background-color: #35a22c;
}
.carousel-indicators {
  bottom: 10%;
}
/* PROJECTS */
.projects .title {
  width: 70%;
}
.projects .title h2 {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
}
.projects .title p {
  color: #585858;
  line-height: 24px;
}
.projects .nav-pills .nav-link.active {
  background-color: #35a22c;
  color: #fff;
  border-color: #35a22c;
}
.projects .nav-pills .nav-link {
  color: #1a1d2d;
  border: 1px solid #1a1d2d;
  margin: 0 5px;
}
/* PROJECTS */
.projects .projects-item {
  margin-top: 30px;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 0.4rem rgb(0 0 0 / 13%);
  border: none;
  cursor: pointer;
}
.projects .projects-item img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.projects .projects-item h3 {
  font-size: 1.25rem;
}
.card__item {
  padding: 1.25rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-top: none;
}
.projects .projects-item:hover .card__item {
  border-color: #35a22c;
  border-top: none;
}
.projects .projects-item:hover h3 {
  color: #35a22c;
}
/* FEATURE */
.feature {
  background: url(../imgboostrap/3.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 0 120px;
  background-attachment: fixed;
  position: relative;
}
.feature .title {
  position: relative;
}
.feature .overlay {
  background: rgba(7, 10, 12, 0.72);
}
.feature .title h2 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 600;
}

.feature .item {
  padding: 40px 40px;
  transition: 0.3s;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.5s;
}
.feature .item:hover {
  background: black;
  border: 1px solid white;
}

.feature .item i {
  color: #35a22c;
  font-size: 50px;
}
/* AWARD */
.award {
  position: relative;
  color: #585858;
  padding: 70px 0;
}
.award__card {
  background-image: url(../imgboostrap/memphis_3.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 50% auto;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.award__left {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  padding: 45px;
}
.award__left h2 {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
}
.award__right {
  padding: 35px;
}
.award__right img {
  width: 100%;
}
/* FOOTER */
footer {
  background-color: #222;
}
footer .title i {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #454545;
  transition: all 0.5s;
  color: #aaa;
  transition: all 0.5s;
  margin-left: 10px;
}
footer .title i:hover {
  border-color: #35a22c;
  color: #35a22c;
}
footer .content {
  border-top: 1px solid #454545;
  padding-top: 30px;
  margin-top: 30px;
  color: #aaa;
}
footer .content a {
  text-decoration: none;
  color: #aaa;
}
footer .content a:hover {
  color: #35a22c;
}
